<div class = "flexBoxC">
    <div class="inputDiv">
        <div class="label">user: </div>
        <input class="input" type="text" v-model="info.pool.POOL_USER">
    </div>
    <div class="inputDiv">
        <div class="label">password: </div>
        <input class="input" type="text" v-model="info.pool.POOL_PASSWORD">
    </div>
    <div class="inputDiv">
        <div class="label">connectString: </div>
        <input class="input" type="text" v-model="info.pool.CONNECT_STRING">
    </div>
    <div class="inputDiv">
        <div class="label">poolMin: </div>
        <input class="input" type="number" v-model="info.pool.POOL_MIN">
    </div>
    <div class="inputDiv">
        <div class="label">poolMax: </div>
        <input class="input" type="number" v-model="info.pool.POOL_MAX">
    </div>
    <div class="inputDiv">
        <div class="label">poolTimeout: </div>
        <input class="input" type="number" v-model="info.pool.POOL_TIMEOUT">
    </div>
    <div class="inputDiv">
        <div class="label">poolPingInterval: </div>
        <input class="input" type="number" v-model="info.pool.POOL_PING_INTERVAL">
    </div>
    <div class="inputDiv">
        <div class="label">queueMax: </div>
        <input class="input" type="number" v-model="info.pool.QUEUE_MAX">
    </div>
    <div class="inputDiv">
        <div class="label">queueTimeout: </div>
        <input class="input" type="number" v-model="info.pool.QUEUE_TIMEOUT">
    </div>
</div>