<div style="font-size: 0.8em">Example on docs page</div>
<div class="sqlQuery">
    <div class="inputDiv">
        <textarea class="input resisableArea" type="text" v-model="info.SQL_CODE"></textarea>
    </div>
</div>