Vue.component('update-service', {
    data: function () {
        return {
            info:{
                ENDPOINT: "",
                VERSION_NAME: "",
                IS_ENABLED: false,
                SQL_CODE: "",
                PARAMS: [],
                pool:{
                    CONNECT_STRING: "",
                    POOL_USER: "",
                    POOL_PASSWORD: "",
                    POOL_MAX: null,
                    POOL_MIN: null,
                    POOL_TIMEOUT: null,
                    POOL_PING_INTERVAL: null,
                    QUEUE_MAX: null,
                    QUEUE_TIMEOUT: null
                },
                JSON_CONFIG: "",
                DESCRIPTION: ""
            }
        }
    },
    props: {
        selectedObject: Object
    },
    watch: {
        selectedObject: function () {
            if(this.selectedObject.ENDPOINT) this.getInfo()
        },
    },
    mounted(){
        if(this.selectedObject.ENDPOINT) this.getInfo()
    },
    methods:{
        addParam(){
            this.info.PARAMS.push({NAME: '',TYPE:'',LOCATION:'',IS_REQUIRED:false})
        },
        removeParam(){
            this.info.PARAMS.pop()
        },
        createNewVersion(){
            if(!this.checkData()) return
            var url = window.location.href
            fetch(url + "createNewVersion", {
                method: 'POST',
                body: JSON.stringify(this.info),
                headers:{
                    'Content-Type': 'application/json'
                }
            })
            .then((data) => {
                if(data.status == 200){
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'New version was created'
                    })
                    setTimeout(() => {
                       location.reload() 
                    }, 2000);
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Some error occured'
                    })
                }
            })
        },
        checkData(){
            if (!(this.info.VERSION_NAME && this.info.ENDPOINT && this.info.SQL_CODE && this.checkParams(this.info.PARAMS)
               && this.info.pool.CONNECT_STRING && this.info.pool.POOL_USER && this.info.pool.POOL_PASSWORD && this.info.pool.POOL_MIN
               && this.info.pool.POOL_MAX && this.info.pool.POOL_TIMEOUT && this.info.pool.POOL_PING_INTERVAL && this.info.pool.QUEUE_MAX
               && this.info.pool.QUEUE_TIMEOUT)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'All fields should be filled. Every "PATH" parameter should be required.'
                })
                return false
            }
            if(this.info.ENDPOINT == "createService" || this.info.ENDPOINT == "createNewVersion" || this.info.ENDPOINT == "getServiceInfo" ||
               this.info.ENDPOINT == "updateVersion" || this.info.ENDPOINT == "getServices" || this.info.ENDPOINT == "updateHttpListener") {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Endpoint can not be "createService" or "createNewVersion" or "getServiceInfo" or "updateVersion" or "getServices" or "updateHttpListener"'
                })
                   return false
            }
            return true
        },
        checkParams(arr){
            var checkP = false
            arr.forEach(el => {
                if (!el.NAME || !el.TYPE || !el.LOCATION || (el.LOCATION == "Path" && !el.IS_REQUIRED)) checkP = true
            })
            return !checkP
        },
        getInfo(){
            var url = window.location.href
            var copy;
            fetch(url + "getServiceInfo", {
                method: 'POST',
                body: JSON.stringify({ENDPOINT: this.selectedObject.ENDPOINT, VERSION_ID: this.selectedObject.VERSION_ID}),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                return response.json()
            })
            .then(res => {
                copy = res
                copy.pool = {
                    CONNECT_STRING: copy.CONNECT_STRING,
                    POOL_USER: copy.POOL_USER,
                    POOL_PASSWORD: copy.POOL_PASSWORD,
                    POOL_MAX: copy.POOL_MAX,
                    POOL_MIN: copy.POOL_MIN,
                    POOL_TIMEOUT: copy.POOL_TIMEOUT,
                    POOL_PING_INTERVAL: copy.POOL_PING_INTERVAL,
                    QUEUE_MAX: copy.QUEUE_MAX,
                    QUEUE_TIMEOUT: copy.QUEUE_TIMEOUT
                }
                this.info = copy
            })
        }
    },
    template: 
    `
    <div class="mdiv">
        <div class="inputDiv">
            <div class="label">Version name: </div>
            <input class="input" type="text" v-model="info.VERSION_NAME">
        </div>
        <div class="inputDiv">
            <div class="label">Description: </div>
            <textarea v-model="info.DESCRIPTION"></textarea>
        </div>
        <div class="inputDiv">
            <div class="label">Endpoint: </div>
            <input class="input" type="text" readonly v-model="info.ENDPOINT">
        </div>
        <div class="inputDiv">
            <div class="label">Is Enabled: </div>
            <input class="input" type="checkbox" disabled="true" v-model="info.IS_ENABLED">
        </div>
        <h2>Pool parameters:</h2>
        <div class = "flexBoxC">
            <div class="inputDiv">
                <div class="label">user: </div>
                <input class="input" type="text" v-model="info.pool.POOL_USER">
            </div>
            <div class="inputDiv">
                <div class="label">password: </div>
                <input class="input" type="text" v-model="info.pool.POOL_PASSWORD">
            </div>
            <div class="inputDiv">
                <div class="label">connectString: </div>
                <input class="input" type="text" v-model="info.pool.CONNECT_STRING">
            </div>
            <div class="inputDiv">
                <div class="label">poolMin: </div>
                <input class="input" type="number" v-model="info.pool.POOL_MIN">
            </div>
            <div class="inputDiv">
                <div class="label">poolMax: </div>
                <input class="input" type="number" v-model="info.pool.POOL_MAX">
            </div>
            <div class="inputDiv">
                <div class="label">poolTimeout: </div>
                <input class="input" type="number" v-model="info.pool.POOL_TIMEOUT">
            </div>
            <div class="inputDiv">
                <div class="label">poolPingInterval: </div>
                <input class="input" type="number" v-model="info.pool.POOL_PING_INTERVAL">
            </div>
            <div class="inputDiv">
                <div class="label">queueMax: </div>
                <input class="input" type="number" v-model="info.pool.QUEUE_MAX">
            </div>
            <div class="inputDiv">
                <div class="label">queueTimeout: </div>
                <input class="input" type="number" v-model="info.pool.QUEUE_TIMEOUT">
            </div>
        </div>
        <h2 class="mt-2">Parameters:</h2>
        <div class="parametres">
            <div class="parametr" v-for="(el, i) in info.PARAMS" :key="i">\
                <div class="sminputDiv">
                    <div class="label">Name:</div>
                    <input class="input" type="text" v-model="el.NAME">
                </div>
                <div class="sminputDiv">
                    <div class="label">Type:</div>
                    <select v-model="el.TYPE">
                        <option disabled>Выберите тип</option>
                        <option value="Integer">Integer</option>
                        <option value="Number">Number</option>
                        <option value="String">String</option>
                    </select>
                </div>
                <div class="sminputDiv">
                    <div class="label">Location:</div>
                    <select v-model="el.LOCATION">
                        <option disabled>Выберите местонахождение</option>
                        <option value="URL">URL</option>
                        <option value="Header">Header</option>
                        <option value="Path">Path</option>
                    </select>
                </div>
                <div class="sminputDiv">
                    <div class="label">Required:</div>
                    <input class="input" type="checkbox" v-model="el.IS_REQUIRED">
                </div>
                <hr/>
            </div>
        </div>
        <div class="smbut" style="background-color: grey; margin-bottom: 10px" @click="addParam">Add parameter</div>
        <div class="smbut" style="background-color: red" @click="removeParam">Remove parameter</div>
        <h2>SQL query:</h2>
        <div style="font-size: 0.8em">Example on the docs page</div>
        <div class="sqlQuery">
            <div class="inputDiv">
                <textarea class="input resisableArea" type="text" v-model="info.SQL_CODE"></textarea>
            </div>
        </div>
        <h2>Final JSON format:</h2>
        <div style="font-size: 0.8em">Find more information on docs page</div>
        <div class="sqlQuery">
            <div class="inputDiv">
                <textarea class="input resisableArea" type="text" v-model="info.JSON_CONFIG"></textarea>
            </div>
        </div>
        <div class="but create mt" @click='createNewVersion'>Create version from selected</div>
    </div>
    `
})